<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swatcore"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.example.swatcore.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.example.swatcore.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.swatcore.SearchResultActivity"
            android:label="@string/title_activity_search_result" >
        </activity>
        <activity
            android:name="com.example.swatcore.CourseOverviewActivity"
            android:label="@string/title_activity_courseoverview" >
        </activity>
        <activity
            android:name="com.example.swatcore.ICProfileActivity"
            android:label="@string/title_activity_icprofile" >
        </activity>
        <activity
            android:name="com.example.swatcore.AddReviewActivity"
            android:label="@string/title_activity_addreview" >
        </activity>
    </application>

</manifest>
